body{
	background-image: url(http://kansaspublicradio.org/sites/kansaspublicradio.org/files/npr-story-images/425034030_924316078.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

#header{
	position:relative;
	left: -120px; top: -10px;
	float: left;
	width: 90px; height: 90px;
	background-image: url("photo.png");
	background-repeat:no-repeat;
	background-size:100%;
	border: 1px solid #000;
}

#whole {
	width: 550px; height:450px;
	border: 2px solid #0072E3;
	margin: 50px auto;
}

#title{
	background-color: #0072E3;
	border: 1px solid #0072E3;
	text-align: center;
}

h3{	
	position: relative; left:-40px;
}

h5{
	position: relative; left:-40px;
}

#conversation{
	text-align: center;
	background-color: #F0F0F0;
	border: 6px solid #F0F0F0;
}

#answer {
    width:520px;
    height:290px;
    overflow-y:auto;
    background-color: white;
    margin: 0 auto;
    border: 15px solid white;
}

p {
	font-size: 14px;
	font-family: "Helvetica";
}

hr{
	width: 99%;
}
