body{
	background-image: url("trump.png");
	background-repeat:repeat;
	background-size:contain;
}

#header{
	position:relative;
	left: 2%; top: 2%;
	float: left;
	width: 80px; height: 80px;
	background-image: url("photo.png");
	background-repeat:no-repeat;
	background-size:100%;
}

#whole {
	width: 550px; height:490px;
	max-width: 98%;
	border: 1px solid #C90000;
	margin: 50px auto;
}

#title{
	background-color: white;
	border: 1px solid #C90000;
	height: 100px;
	text-align: center;	
}

#ht{
	position:relative;
	top:-2%;
	color: #342CA4;
	font-size:22px;
	font-family: "Arial";
	max-width: 100%;
}

#subtitle{
	color: #342CA4;
	font-size:13px;
	font-family: "Arial";
	max-width: 100%;
}

input{
	max-width: 75%;
}

#conversation{
	text-align: center;
	background-color: #C90000;
	border: 1px solid #C90000;
	max-width: 100%;
	padding: 2px;
}

#answer {
    width:548px;
    height:356px;
    overflow-y:auto;
    background-color: white;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #C90000;
    max-width: 100%;
}

p {
	font-size: 14px;
	font-family: "Helvetica";
}

hr{
	width: 99%;
}
